@font-face {
    font-family: montserrat;
    src: url(montserrat/Montserrat-Regular.otf);
}

@font-face {
    font-family: montserrat;
    src: url(montserrat/Montserrat-Bold.otf);
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    font-family: montserrat;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    perspective: 1px;
    perspective-origin: 100% 0%;
}

@keyframes expandHeight {
    from {transform: scaleY(0);}
    to {transform: scaleY(1);}
}

header {
    width: 100%;
    height: 25%;
    background-color: rgb(0,100,0);
    position: relative;
    animation-name: expandHeight;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0, 0.95, 0.99, 1);
    transform-origin: 50% 0%;
    animation-fill-mode: backwards;
}


#header2 {
    width: 100%;
    height: 4%;
    background-color: rgb(25,150,25);
    animation-name: expandHeight;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0, 0.95, 0.99, 1);
    transform-origin: 50% 0%;
    animation-delay: 0.3s;
    animation-fill-mode: backwards;
}


#header3 {
    width: 100%;
    height: 2%;
    background-color: rgb(50,200,50);
    animation-name: expandHeight;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0, 0.95, 0.99, 1);
    transform-origin: 50% 0%;
    animation-delay: 0.6s;
    animation-fill-mode: backwards;
}

h1 {
    position: absolute;
    left: 5%;
    bottom: 10%;
    color: white;
    font-size: 6vw;
}

article {
    margin: 5vw 35vw 5vw 5vw;
}

@keyframes fadeSlideUp {
    from {transform: translateY(10%); filter: opacity(0);}
    to {transform: translateY(0); filter: opacity(1);}
}

p {
    font-size: max(12pt, 2vw);
    animation-name: fadeSlideUp;
    animation-delay: 1.6s;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
}

h2 {
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-size: max(18pt, 3vw);
    border-bottom: 0.5vh solid black;
    animation-name: fadeSlideUp;
    animation-delay: 1.8s;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 0;
}

div.project {
    position: relative;
    margin: 0 1vw 3vw 1vw;
    display: inline-block;
    width: 16vw;
    height: 24vw;
    border: 2px solid grey;
    border-radius: 2vw;
    z-index: 200;
    overflow: hidden;
    animation-name: fadeSlideUp;
    animation-delay: 2s;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
    transform-origin: 50% 50%;
    transition-duration: 0.25s;
}

div.project:hover {
    transform: scale(1.1);
}

div.project img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-bottom: 2px solid grey;
}

div.description {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
}

div.description h3 {
    color: black;
    position: relative;
    top: 1vw;
    left: 1vw;
    width: 14vw;
    font-size: 1.5vw;
}

div.description p {
    color: black;
    position: relative;
    top: 1.5vw;
    left: 1vw;
    width: 14vw;
    font-size: 1.3vw;
}

div.description p span.more {
    color: green;
    font-weight: bold;
}

div.project:hover div.description p span.more {
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    div.project {
        margin: 0vw 0vw 2vw 0vw;
        width: 60vw;
        height: 12vw;
        border: 2px solid grey;
        border-radius: 2vw;
    }

    div.project img {
        top: 0;
        left: 0;
        width: 40%;
        height: 100%;
        object-fit: cover;
        border-bottom: none;
        border-right: 2px solid grey;
    }

    div.description {
        top: 0;
        left: 40%;
        width: 60%;
        height: 100%;
    }

    div.description h3 {
        position: relative;
        top: 1vw;
        left: 2vw;
        width: 32vw;
        font-size: 2vw;
    }

    div.description p {
        position: relative;
        top: 1.5vw;
        left: 2vw;
        width: 32vw;
        font-size: 1.8vw;
    }
}





@keyframes expand {
    from {transform: scale(0,0);}
    to {transform: scale(1,1);}
}

div#triangleDiv {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform-origin: 100% 0%;
    transform: translateZ(-1px) scale(2);
    z-index: 100;
}

.triangle {
    position: absolute;
    height: 0;
    width: 0;
    right: calc(var(--right) - calc(var(--side) / 2) );
    border-left: calc(var(--side)/2) solid Transparent;
    border-right: calc(var(--side)/2) solid Transparent;
    border-bottom: calc(var(--side)*0.866) solid var(--color);
    animation-name: expand;
    animation-duration: 0.3s;
    animation-fill-mode: backwards;
}

.triangle.upsideDown {
    border-bottom: none;
    border-top: calc(var(--side)*0.866) solid var(--color);
}

.triangle.s1 {
    animation-delay: 1.6s;
    border-bottom-color: rgb(50,0,50);
}

.triangle.s2 {
    animation-delay: 1.8s;
    border-bottom-color: rgb(40,0,40);
}

.triangle.s3 {
    animation-delay: 2s;
    border-bottom-color: rgb(30,0,30);
}